body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  height: 100vh;
}

h1 {
  color: #333;
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px); /* 4 стовпці, 8 карток */
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 8px;
}

.front-face {
  background-color: #3498db; /* Колір зворотної сторони картки */
  border: 2px solid #2980b9;
}

.back-face {
  background-color: #ecf0f1; /* Колір лицьової сторони */
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
